<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Room</title>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vuex.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/semantic.js"></script>
    <link href="/static/css/semantic.css" rel="stylesheet">
</head>
<body>
<div class="wrapper" id="app">
    <div class="header">
        <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <p>January 2015</p>
    </div><!-- end header -->
    <div class="ui seven column grid calendar-body">
        <div class="row weekdays">
            <div class="column"><p>周一</p></div><!-- end column -->
            <div class="column"><p>周二</p></div><!-- end column -->
            <div class="column"><p>周三</p></div><!-- end column -->
            <div class="column"><p>周四</p></div><!-- end column -->
            <div class="column"><p>周五</p></div><!-- end column -->
            <div class="column"><p>周六</p></div><!-- end column -->
            <div class="column"><p>周日</p></div><!-- end column -->
        </div><!-- end row -->
        <div class="row dates" v-for="week in calendar">
            <div class="column" v-for="day in week">
                <day-view :rooms="rooms" :events="events" :day="day"></day-view>
            </div>
        </div><!-- end row -->
    </div><!-- end calendar-body -->
</div><!-- end wrapper -->

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        资料图片
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="../images/avatar/large/chris.jpg">
        </div>
        <div class="description">
            <div class="ui header">我们为你自动选择了一张资料图片.</div>
            <p>我们从<a href="https://www.gravatar.com" target="_blank">gravatar</a>抓取的下面这些图片，图像与你注册的邮箱地址相关.</p>
            <p>可以使用这张照片吗?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            不可以
        </div>
        <div class="ui positive right labeled icon button">
            是的，那是我
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<!-- define component day-view.vue -->
<script type="text/x-template" id="day-view">
    <div>
        <div>{{ day.number }}</div>
        <table class="room-table">
            <tr class="room-row" v-for="room in rooms" @click="show(room.key)">
                <td class="room-name" :title="'预定'+room.desc"> {{ room.name }}</td>
                <template v-for="h in 48">
                    <template v-if="day.events[room.key][h]!==''">
                        <td class="time-used tooltip" :style="{backgroundColor: room.color}" @click.stop>
                            <div v-if="day.events[room.key][h]!==''" class="tooltip-text">
                                {{ events[day.events[room.key][h]].text }}
                            </div>
                        </td>
                    </template>
                    <td v-else class="time-free" :style="{backgroundColor: room.color}" :title="'预定'+room.desc"></td>
                </template>
            </tr>
        </table>
    </div>

</script>
<!-- end define day-view.vue -->
<link href="/static/css/meeting.css" rel="stylesheet">
<script src="/static/js/meeting.js"></script>
</body>
</html>